@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poiret+One&family=Press+Start+2P&display=swap');


.img_logo_head{
    width: 18vw;
}

.footer_img{
    width: 1.2vw;
    padding: 0.2vw 0 0 0;
}

.alink{
    padding: 0rem 1rem ;
    text-decoration: none;
    color: whitesmoke;
}


/*---------- estilos de colores ------------ */

.color_white{
    color: whitesmoke;
}


.backgroundVerde{
    background-color:rgba(183, 222, 184, 1);
}

.colorVerde{
    color:rgba(183, 222, 184, 1);

}

.backgrounRosa{
    background-color:rgba(211, 147, 147, 1);

}

.colorRosa{
    color:rgba(211, 147, 147, 1);

}

.backgrounCian{
    background-color:rgba(153, 179, 209, 1);

}

.colorCian{
    color:rgba(153, 179, 209, 1);

}

.backgrounBrouwn{
    background-color:rgba(88, 64, 64, 1);

}

.colorBrouwn{
    color:rgba(88, 64, 64, 1);

}
/*---------- estilos de colores ------------ */



/*---------- estilos de texto ------------ */

.titulo_iniciodeseccion{
    font-size: 6vw;
    font-family: 'Oswald', sans-serif ;
}

.texto_iniciodeseccion{
    font-family:'Oswald', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 10vw;
 
}

.titulos_notas{
    font-size:2.5vw ;
    font-family: 'Oswald', sans-serif  ;


}

.txt_justificado{
    text-align: justify;
}
/*---------- estilos de texto ------------ */





/*-------------flex---------------- */
.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*-------------efectos y otros---------------- */
.linear-gradient1{
    background-image:  linear-gradient(darkgrey, rgb(216, 216, 216) );
}


.linear-gradient_motion_animation{
    background-image: linear-gradient(rgba(153, 179, 209, 1), rgb(255, 255, 255) );
    position: relative;
    animation: transicion 5s ease-in-out infinite;
    background-size: 400% 400%;
}

.linear-gradient_motion_branding{
    background-image: linear-gradient(rgba(183, 222, 184, 1), rgb(255, 255, 255) );
    position: relative;
    animation: transicion 5s ease-in-out infinite;
    background-size: 400% 400%;
}

.linear-gradient_motion_website{
    background-image: linear-gradient(rgba(211, 147, 147, 1), rgb(255, 255, 255) );
    position: relative;
    animation: transicion 5s ease-in-out infinite;
    background-size: 400% 400%;
}

.linear-gradient_motion_contacto{
    background-image: linear-gradient(rgba(88, 64, 64, 1), rgb(255, 255, 255) );
    position: relative;
    animation: transicion 5s ease-in-out infinite;
    background-size: 400% 400%;
}


@keyframes transicion{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0 50%;}
}